.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--light-grey);
  width: 100%;
  padding: 1em;
  border-radius: 8px;
  margin-bottom: 2em;
}

.admin-list-h2 {
  color: var(--dark-green);
  margin-bottom: 20px;
}

.admin-list-h3 {
  color: var(--dark-green);
  margin-left: 1em;
}

.admin-list-img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  margin-left: 1em;
}

.delete {
  background-color: var(--error);
  transition: background-color 0.3s ease;
}

.delete:hover {
  background-color: var(--error-hover);
  color: var(--white);
}

.edit {
  background-color: var(--green);
  color: var(--light-grey);
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 1em;
  width: 6em;
}

.edit:hover {
  background-color: var(--dark-green);
  color: var(--light-green);
}

.edit:active {
  transform: scale(0.98);
}

@media (max-width: 900px) {
  .info {
    flex-direction: column;
  }
  .admin-list-img {
    width: 130px;
    height: 90px;
  }
}

@media (max-width: 600px) {
  .admin-list-img {
    width: 100px;
    height: 70px;
  }
}

@media (max-width: 400px) {
  .admin-list-img {
    width: 70px;
    height: 50px;
  }
  .admin-list-h2,
  .admin-list-h3 {
    font-size: 0.9rem;
  }
}