.featured-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;
  align-content: start;
  background-color: var(--light-green);
  border-radius: 15px;
}

.featured-list-item-title {
  color: var(--even-darker-green);
}

.featured-list-item-description {
  color: var(--dark-green);
}

.carousel-control-arrow:before,
.carousel-control-next-arrow:before {
  border: 8px solid var(--even-darker-green);
}

.carousel-thumb img,
.carousel-slider-wrapper-slide img {
  border-radius: 15px;
}

@media (max-width: 900px) {
  .featured-list {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media (max-width: 600px) {
  .featured-list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (max-width: 400px) {
  .featured-list {
    grid-template-columns: 1fr;
  }
}
