.featured-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;
  background-color: var(--light-green);
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .featured-list {
    grid-template-columns: 1fr;
    overflow: hidden;
  }
}

.featured-list-item-title {
  color: var(--even-darker-green);
}

.featured-list-item-description {
  color: var(--dark-green);
}

.carousel-control-arrow:before,
.carousel-control-next-arrow:before {
  border: 8px solid var(--even-darker-green);
}

.carousel-thumb img,
.carousel-slider-wrapper-slide img {
  border-radius: 15px;
}