.card-medium,
.card-big {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--light-grey);
  border: 1px solid var(--green);
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 30px;
  transition: transform 0.3s ease-in-out;
}

.card-medium {
  width: 100%;
  margin: auto;
  padding: 1em;
  min-height: 100%;
}

.card-big {
  width: 80%;
  margin: auto;
  padding: 2em;
  min-height: 100%;
}

.card-medium:hover {
  transform: scale(1.02);
}

.card-medium .card-img {
  width: 100%;
  height: 250px; /* Fixed height for medium card */
  object-fit: cover;
}

.card-big .card-img,
.card-big .carousel .carousel-img {
  flex: 0 0 auto;
  width: 100%;
  height: 350px; /* Fixed height for big card */
  object-fit: cover;
}

.card-title {
  margin: 15px;
  font-size: 2em;
  color: var(--dark-green);
}

.card-info {
  margin: 0 15px;
  font-size: 1.5em;
  color: var(--dark-green);
  line-height: 1.5;
}

.card-big .carousel {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
}

.card-big .carousel::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.details-button {
  display: inline-block;
  margin: 15px;
  padding: 10px 20px;
  color: var(--light-grey);
  background-color: var(--green);
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
}

.details-button:hover {
  background-color: var(--dark-green);
  color: var(--light-green);
}

@media (max-width: 900px) {
/* add if needed */
}

@media (max-width: 600px) {
  .card-medium,
  .card-big {
    width: 95%;
  }
  .card-title {
    font-size: 1.8em;
  }
  .card-info {
    font-size: 1.2em;
  }
}

@media (max-width: 400px) {
  .card-medium,
  .card-big {
    width: 100%;
    padding: 1em;
  }
  .card-title {
    font-size: 1.8em;
  }
  .card-info {
    font-size: 1.2em;
  }
}
