.footer {
  background-color: var(--even-darker-green);
  color: var(--light-green);
  padding: 2em 0;
  margin-top: 2em;
}

.footer-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

.sitemap h4,
.copyright p {
  margin-bottom: 0.5em;
}

.sitemap {
  width: 40%;
}

.copyright {
  width: 60%;
}

.sitemap ul {
  padding-left: 1em;
}

.sitemap ul li a {
  color: var(--light-green);
  transition: color 0.3s ease;
  text-decoration: none;
}

.sitemap ul li a:hover {
  color: var(--light-grey);
}

.copyright a {
  color: var(--green);
  transition: color 0.3s ease;
  text-decoration: none;
}

.copyright a:hover {
  color: var(--light-grey);
}

@media (max-width: 900px) {
  .sitemap,
  .copyright {
    width: 100%;
  }
}
