.pagination-nav {
  text-align: center;
  margin: 20px 0;
}

.pagination-pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

.pagination-pagination > .pagination-item {
  display: inline;
}

.pagination-pagination > .pagination-item > .pagination-link {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: var(--green);
  text-decoration: none;
  background-color: var(--light-grey);
  border: 1px solid var(--light-green);
}

.pagination-pagination > .pagination-item:first-child > .pagination-link {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pagination-pagination > .pagination-item:last-child > .pagination-link {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pagination-pagination > .pagination-item > .pagination-link:hover,
.pagination-pagination > .pagination-item > .pagination-link:focus {
  color: var(--dark-green);
  background-color: var(--light-green);
}

.pagination-pagination > .pagination-active > .pagination-link,
.pagination-pagination > .pagination-active > .pagination-link:hover,
.pagination-pagination > .pagination-active > .pagination-link:focus {
  z-index: 2;
  color: var(--white);
  cursor: default;
  background-color: var(--green);
  border-color: var(--dark-green);
}